$primary-color: #00753b;
$secondary-color: #acd164;
$accent-color: #b78bc0;
$error-color: #e64325;
$warning-color: #ffa336;
$info-color: #acd164;
$success-color: #00809d;

$grey-color: #9e9e9e;
$grey-dark-color: #616161;
$grey-light-color: #f5f5f5;